{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-transform-runtime",
    "import-graphql"
  ],
  "presets": [
    "@babel/env"
  ]
}